/* @media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
    /* styles for Retina-type displays }*/
body{
    background-image: url(assets/bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

img {
    text-align: center;
    position: relative;
    top: 200px;
	bottom: 0;
	left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    align-self: auto;
    flex: none;
    padding: 5px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 500px;
}
