body{
    background-image: url(assets/try-again-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.wrapper {
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 500px;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}

.button {
    margin: auto;
}